.cache
.coverage
.idea
.project
.pydevproject
.pytest_cache
.settings
.sonarlint
.vscode
*.log
*.pyc
*.swp
build
coverage.xml
coverage-html
dist
qpylib.egg-info
qpylib/version.py
RemoteSystemsTempFiles
