Flask==2.2.3
Jinja2==3.1.2
MarkupSafe==2.1.2
itsdangerous==2.1.2
Werkzeug==2.2.3
requests==2.28.2
pycryptodome==3.17
cryptography==39.0.1
responses==0.22.0
pylint==2.16.2
pytest==7.2.1
pytest-cov==4.0.0
wheel==0.38.4
